@model IEnumerable<Method_Library.Models.Languages>

@foreach (var language in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Languages" asp-action="Index" asp-route-id="@language.Name">
            @language.Name
        </a>
    </li>
}