@{
    ViewData["Title"] = "HTML";
}

<div>
    @*Learn about building Web apps with ASP.NET Core at: https://learn.microsoft.com/aspnet/core *@
    <p>
        Find and add your own methods to further enhance your coding experience.
        Meant as a space to store methods you are proud of and want to reuse in different projects.
    </p>
    <h2></h2>
</div>
