@model List<Languages>
@{
    ViewData["Title"] = "Method Library";
}

<div>
    <span><a asp-controller="Languages" asp-action="Create">Create new Language</a></span>
    @foreach (var language in Model) {
        <a asp-controller="Languages" asp-action="Display" asp-route-id="@language.Id">
            <div style="padding:15px; border: 1px #CCCCCC solid; margin: 5px 0px; box-shadow: 1px 1px #CCCCCC">
                <h3>@language.Name</h3>    
            </div>
        </a>
    }
    

</div>
