<a class="nav-link" asp-action="Index">Home</a>
<a class="nav-link" asp-controller="Languages" asp-action="Index">Manage Languages</a>
<a class="nav-link" asp-controller="Categories" asp-action="Index">Manage Categories</a>
<a class="nav-link" asp-controller="Snippets" asp-action="Index">Manage Snippets</a>
